auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
network-concurrency=1
network-timeout=180000
fetch-retries=10
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=180000
store-dir=.pnpm-store
enable-pre-post-scripts=true

